@font-face {
    font-family: 'Monserrat';
    src: url(fonts/Montserrat-Bold.woff2);
}

@font-face {
    font-family: 'NotoSans';
    src: url(fonts/NotoSansKR-Medium.woff2);
}

.main_campaign {
    max-width: 1920px;
    margin: 0 auto;
    padding: 78px 0 30px;
}

.main_campaign > h2{
    font-family: 'Monserrat';
    color:black;
    text-align: center;
}

.img{
    margin-top: 20px;
}

.arrow{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #666;    
    text-decoration: none;
}

.arrow > img{
    margin: 0 0 8px 5px;
}

.main_story {
    max-width: 1920px;
    margin: 0 auto;
    padding: 35px 0 0;
}

.main_story > h2{
    font-family: 'Monserrat';
    text-align: center;
    color:black;
}






.first_name {
    margin-top: 90px;
}

.text-center {    
    max-width: 1044px;
}

.text-center h2 {
    text-align: left;
    font-family: 'Monserrat';
}

.text-center img {
    width: 178px;
}

.text-center h3 {
    margin-top: 45px;
    font-size: 18px;
    text-align: left;
    color: black;
    font-family: 'NotoSans';
}

.text-center p {
    margin-top: 14px;
    font-size: 16px;
    color: #666;
    text-align: left;
}

.col {
    text-decoration: none;
}


